name: Build Azure Virtual Network

on:
  workflow_dispatch:
    inputs:
      rgName:
        description: "resource group name"
        required: true
      location:
        description: "Azure location"
        required: true
  #push:
    #branches:
      #- dependabot/npm_and_yarn/ini-1.3.7

jobs:  
  Infra-vnet:
    runs-on: ubuntu-latest

    steps:  
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1.2.1
      - name: set env variable
        run: export ARM_ACCESS_KEY=${{ secrets.STORAGE_ACCESS_KEY }}
      
      - name: Run terraform init
        id: init
        run: terraform init
        working-directory: vnet

      - name: Run terraform plan
        id: plan
        run: terraform plan -var="rgName=${{ github.event.inputs.rgName }}" -var="location=${{ github.event.inputs.location }}" -var="client_id=${{ secrets.CLIENT_ID }}" -var="client_secret=${{ secrets.CLIENT_SECRET }}" -var="tenant_id=${{ secrets.TENANT_ID }}" -var="subscription_id=${{ secrets.SUBSCRIPTION }} 
        working-directory: vnet
      
      - name: Run terraform apply
        id: apply
        run: terraform apply -var="rgName=${{ github.event.inputs.rgName }}" -var="location=${{ github.event.inputs.location }}" -var="client_id=${{ secrets.CLIENT_ID }}" -var="client_secret=${{ secrets.CLIENT_SECRET }}" -var="tenant_id=${{ secrets.TENANT_ID }}" -var="subscription_id=${{ secrets.SUBSCRIPTION }}"
        working-directory: vnet
